---
import Navigation from "./Navigation.astro";
import Logo from "../Logo.astro";
---

<header class="sticky top-0 z-50 w-full bg-white/90 backdrop-blur-md shadow-sm">
  <div class="container flex items-center justify-between h-20">
    <a href="/" class="text-2xl font-bold text-primary-800 font-serif flex items-center">
      <span class="sr-only">Kinh Lăng Nghiêm</span>
      <Logo src="/white_lotus.png" alt="Kinh Lăng Nghiêm" class="h-12 w-auto text-primary-600 mr-2" />
      <span class="text-primary-800">Kinh Lăng Nghiêm</span>
    </a>

    <Navigation />
  </div>
</header>
